p, a, h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

body{
	background: #ebe7e7;
	font-family: 'Poppins', sans-serif;
  font-display: sans-serif;
	overflow-x: hidden;
}

.router-link-active{
	color: red;
  font-weight: 600;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}